<div class="footer-support">
    <span>小破站由</span>
    <a class="footer-support-logo" href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank" title="又拍云" style="border-bottom: none;">
        <img height="30" src="https://cdn.makiru.top/images/upyun-logo.png" alt="又拍云">
    </a>
    <span>提供 CDN 加速</span>
</div>