// Margin and radius
$myradius                     = 10px;

// Shadow
$image-box-shadow             = 0 5px 15px 0px rgba(0, 0, 0, .4);

$btn-default-bg               = #3f5973;
$btn-default-hover-bg         = #0f6fbe;